.boss-container {
  width: 100%;
  margin: 0; }

.main-body {
  display: flex;
  flex-wrap: wrap; }

.features-panel {
  width: 100%;
  overflow: hidden;
  border-top: 2px solid #b7b7b7; }

header {
  width: 100%;
  height: 711px;
  min-height: 511px;
  margin: 0;
  overflow: hidden; }
  header p {
    -webkit-margin-before: 10px;
    -webkit-margin-after: 0; }

.header-top-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #222; }
  .header-top-bar h2 {
    padding-left: 150px; }
  .header-top-bar .logo-top-axit {
    align-self: center;
    width: 79px;
    height: 27px; }

.header-nav-ul {
  height: 70px;
  margin: 0;
  padding-right: 150px;
  line-height: 70px;
  color: #fff;
  list-style: none;
  font-family: "Open Sans", sans-serif; }
  .header-nav-ul li {
    position: relative;
    display: inline-block;
    padding: 1px 24px;
    cursor: pointer;
    overflow: hidden; }
    .header-nav-ul li::after {
      content: "";
      position: absolute;
      top: -25px;
      left: -10%;
      width: 100%;
      height: 100%;
      border-bottom: 1px solid cadetblue;
      visibility: hidden;
      transition: 0.3s left ease-out; }
    .header-nav-ul li:hover::after {
      visibility: visible;
      left: 100%; }
  .header-nav-ul a {
    color: #fff;
    text-decoration: none;
    transition: 0.2s color ease-out; }
    .header-nav-ul a:hover {
      color: cadetblue; }

.hamburger {
  display: none; }

.hamburger-label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; }

.header-main-area {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 635px;
  background: url(../images/header-bg.jpg); }

.header-left-bar {
  width: 50%;
  max-width: 600px;
  padding-top: 110px;
  padding-left: 150px; }
  .header-left-bar h2 {
    margin: 0; }
  .header-left-bar h3 {
    margin-bottom: 15px;
    color: #fff;
    font-size: 2.4em;
    font-family: "Raleway", sans-serif; }
  .header-left-bar .header-divider {
    display: inline-block;
    width: 64px;
    height: 2px;
    background: #fff; }
  .header-left-bar p {
    padding-top: 10px;
    color: #fff;
    font-size: 1.3em;
    font-family: "Raleway", sans-serif;
    font-weight: 300; }
  .header-left-bar .download {
    position: relative;
    width: 225px;
    height: 44px;
    margin-top: 45px;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    z-index: 0; }
    .header-left-bar .download:hover {
      border: 2px solid #a53d49;
      color: #a53d49;
      transition: all 0.2s ease-in; }

.header-right-bar {
  margin-top: 140px;
  padding-right: 150px; }

.header-form {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  width: 560px;
  height: 362px;
  border-radius: 10px;
  overflow: hidden; }
  .header-form .form-title {
    position: relative;
    height: 54px;
    background: #f5f5f5;
    color: #222;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1.4em;
    text-align: center; }
    .header-form .form-title h3 {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      margin: 0;
      white-space: nowrap; }
      .header-form .form-title h3 span {
        text-transform: uppercase;
        color: #a53d49; }

.form-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 4;
  padding: 0 32px;
  background: white;
  overflow: hidden; }
  .form-main .form-group {
    width: 100%; }
    .form-main .form-group .header-form-input {
      width: 100%;
      height: 32px;
      line-height: 32px;
      border: 0;
      border-bottom: 1px solid #d6d6d6; }
    .form-main .form-group .header-errors {
      margin-top: 8px;
      font-size: 0.75em;
      color: red; }

.form-started {
  height: 54px;
  border: 0;
  text-align: center;
  background: #a53d49;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  color: #fff;
  transition: 0.2s background ease-in-out, 0.2s color ease-in-out; }
  .form-started:hover {
    background: cadetblue;
    color: #a53d49; }

@media (min-width: 1281px) and (max-width: 1600px) {
  .header-top-bar h2 {
    padding-left: 50px; }

  .header-nav-ul {
    padding-right: 50px; }

  .header-left-bar {
    padding-left: 50px; }
    .header-left-bar h3 {
      font-size: 2.2em; }

  .header-right-bar {
    padding-right: 50px; } }
@media (min-width: 1101px) and (max-width: 1280px) {
  .header-top-bar h2 {
    padding-left: 50px; }

  .header-nav-ul {
    padding-right: 50px; }

  .header-left-bar {
    padding-left: 50px; }
    .header-left-bar p {
      font-size: 1.15em; }
    .header-left-bar h3 {
      font-size: 2.2em; }

  .header-right-bar {
    padding-right: 50px;
    padding-left: 40px; }

  .header-form {
    width: 460px; } }
@media (min-width: 961px) and (max-width: 1100px) {
  .header-top-bar h2 {
    padding-left: 30px; }

  .header-nav-ul {
    padding-right: 30px; }
    .header-nav-ul li {
      padding: 1px 19px; }

  .header-left-bar {
    padding-left: 30px; }
    .header-left-bar h3 {
      font-size: 1.8em; }
    .header-left-bar p {
      font-size: 1.1em; }

  .header-right-bar {
    padding-right: 30px; }

  .header-form {
    width: 360px; }
    .header-form .form-title {
      font-size: 1.2em; }

  .form-main {
    padding: 0 15px; } }
@media (min-width: 721px) and (max-width: 960px) {
  .header-top-bar h2 {
    padding-left: 30px; }

  .header-nav-ul {
    padding-right: 30px; }
    .header-nav-ul li {
      padding: 1px 19px; }

  .header-main-area {
    flex-direction: column;
    justify-content: space-between; }

  .header-left-bar {
    width: 90%;
    max-width: none;
    margin: 0 auto;
    padding-top: 25px;
    padding-left: 0; }
    .header-left-bar h2 {
      float: left;
      margin-right: 40px; }
    .header-left-bar h3 {
      width: 100%;
      margin: -3px 0 0;
      font-size: 1.8em; }
    .header-left-bar p {
      font-size: 1.2em; }
    .header-left-bar .download {
      margin-top: 20px; }
    .header-left-bar:after {
      content: "";
      clear: both;
      display: block; }

  .header-right-bar {
    width: 90%;
    margin: 0 auto;
    padding-right: 0; }

  .header-form {
    width: 100%;
    height: 262px;
    margin-bottom: 25px; }
    .header-form .form-title, .header-form .form-started {
      height: 44px; } }
@media (max-width: 720px) {
  header {
    height: 698px; }

  .header-top-bar {
    position: relative; }
    .header-top-bar h2 {
      position: absolute;
      padding-left: 30px;
      top: 50%;
      transform: translateY(-50%);
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
      -webkit-margin-start: 0;
      -webkit-margin-end: 0; }

  .header-nav-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 72px; }
    .header-nav-bar .hamburger {
      display: inline-block;
      width: 50px;
      height: 40px;
      margin-right: 30px;
      border: none;
      border-top: 5px solid #ffffff;
      background-color: transparent;
      position: relative;
      right: 0;
      cursor: pointer;
      transition: 0.3s transform linear; }
      .header-nav-bar .hamburger::after, .header-nav-bar .hamburger::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 5px solid #ffffff;
        transform: translateY(10px); }
      .header-nav-bar .hamburger::after {
        transform: translateY(25px); }
      .header-nav-bar .hamburger:focus::after {
        transform: rotate(-90deg) translateX(-10px);
        transition: 0.3s transform linear; }
      .header-nav-bar .hamburger:focus {
        transform: rotate(45deg) translateY(5px);
        border: 0;
        outline: none; }
      .header-nav-bar .hamburger .hamburger-label {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        white-space: nowrap; }

  .header-nav-ul {
    width: 100%;
    height: 279px;
    overflow: hidden;
    padding-right: 0;
    text-align: center;
    line-height: 53px;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    background: inherit;
    z-index: 1; }
    .header-nav-ul li {
      display: block;
      width: 100%;
      padding: 0;
      border-bottom: 1px dashed #a53d49;
      background: #222;
      cursor: pointer; }
      .header-nav-ul li:hover {
        border-bottom: 1px solid #a53d49; }
      .header-nav-ul li::after {
        display: none; }

  .menu {
    display: none;
    position: absolute;
    top: 70px;
    z-index: 1; }

  .header-main-area {
    flex-direction: column;
    justify-content: space-around; }

  .header-left-bar {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: none;
    margin: 0 auto;
    padding-top: 0;
    padding-left: 0; }
    .header-left-bar h2 {
      display: none; }
    .header-left-bar h3 {
      width: 100%;
      margin: -3px 0 0;
      font-size: 1.8em; }
    .header-left-bar p {
      display: none; }
    .header-left-bar .download {
      margin-top: 24px; }

  .header-right-bar {
    width: 90%;
    margin: 0 auto;
    padding-right: 0;
    padding-bottom: 20px; }

  .header-form {
    width: 100%;
    height: 262px; }
    .header-form .form-title, .header-form .form-started {
      height: 44px; }
      .header-form .form-title h3, .header-form .form-started h3 {
        font-size: 0.9em; }

  .more {
    height: 971px;
    transition: all 0.7s ease-out; } }
@media (max-width: 444px) {
  .header-top-bar h2 {
    padding-left: 15px; }

  .header-left-bar .download {
    margin: 60px auto; }

  .header-form .form-title h3 {
    font-size: 0.8em; } }
.social-aside-wrap {
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 100%;
  height: 160px; }

.social-text {
  flex: 2;
  padding-left: 150px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.4em; }
  .social-text .social-title {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 1em;
    color: #222; }
  .social-text .social-lead {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 0.78em;
    color: slategray; }

.social-icon-wrap {
  flex: 4;
  align-self: center;
  padding-right: 150px; }
  .social-icon-wrap .social-icon-area {
    width: 100%; }
    .social-icon-wrap .social-icon-area .social-icon-_ul {
      display: flex;
      justify-content: space-between;
      margin-left: 50px; }
  .social-icon-wrap .social-icon-_li {
    filter: blur(2px);
    transition: 0.1s filter ease-in; }
    .social-icon-wrap .social-icon-_li:hover {
      filter: blur(0); }

@media (min-width: 1281px) and (max-width: 1600px) {
  .social-text {
    padding-left: 50px; }

  .social-icon-wrap {
    padding-right: 50px; } }
@media (min-width: 1101px) and (max-width: 1280px) {
  .social-text {
    padding-left: 50px; }

  .social-icon-wrap {
    padding-right: 50px; } }
@media (min-width: 961px) and (max-width: 1100px) {
  .social-text {
    padding-left: 30px; }

  .social-icon-wrap {
    padding-right: 30px; } }
@media (min-width: 721px) and (max-width: 960px) {
  .social-aside-wrap {
    width: 90%;
    height: 100px;
    margin: 0 auto; }

  .social-text {
    display: none; }

  .social-icon-wrap {
    padding-right: 0; }
    .social-icon-wrap .social-icon-_ul:first-child {
      margin-left: 0; }
    .social-icon-wrap .social-icon-_li {
      transform: scale(0.7); } }
@media (max-width: 720px) {
  .social-aside-wrap {
    width: 90%;
    height: 80px;
    margin: 0 auto; }

  .social-text {
    display: none; }

  .social-icon-wrap {
    padding-right: 0; }
    .social-icon-wrap .social-icon-_ul:first-child {
      margin-left: 0; }
    .social-icon-wrap .social-icon-_li {
      transform: scale(0.7); } }
.features-wrap {
  width: 100%; }

.scroll-top-btn {
  width: 100px;
  height: 40px;
  position: fixed;
  top: 90%;
  right: 25px;
  border: 2px solid darkgray;
  border-radius: 5px;
  background: cadetblue;
  font-family: Calibri, sans-serif;
  color: beige;
  opacity: 0.9;
  transition: visibility 0.2s linear, opacity 0.2s linear, 0.2s background linear; }
  .scroll-top-btn:hover {
    background: #549496; }

.scroll-top-btn.hidden {
  opacity: 0;
  visibility: hidden; }

.feature-columns {
  display: flex;
  align-items: center;
  height: 594px;
  padding: 0 150px; }
  .feature-columns:first-child {
    padding: 0; }
  .feature-columns:nth-child(odd) {
    background: #f5f5f5; }

.feature-tab {
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 332px;
  margin-right: 8%;
  padding-left: 150px;
  text-align: center; }
  .feature-tab .tab {
    height: 110px;
    line-height: 110px;
    border-top: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    background: #333;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
    cursor: pointer;
    transition: 0.15s transform linear, 0.2s background linear; }
    .feature-tab .tab:hover {
      background: #404040;
      transform: scale(0.95); }
    @media (max-width: 1080px) {
      .feature-tab .tab {
        width: 40%; } }

.feature-columns-1 {
  position: relative;
  display: flex; }

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 99;
  opacity: 1;
  transition: visibility 0.2s ease-in, opacity 0.2s ease-in; }

.modal.hidden {
  visibility: hidden;
  opacity: 0; }

.close-modal {
  display: flex;
  justify-content: flex-end; }
  .close-modal span {
    position: relative;
    top: 20px;
    right: 60px;
    z-index: 999;
    transition: 0.2s transform linear; }
    .close-modal span:hover {
      transform: scale(1.1); }
  .close-modal i {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    font-size: 2rem;
    color: white;
    cursor: pointer; }

.showed-for-tab1 {
  position: absolute;
  height: 594px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.video-tab1 {
  height: 514px;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.feature-text {
  flex: 1; }
  .feature-text .feature-divider {
    display: inline-block;
    width: 64px;
    height: 2px;
    background: #a53d49; }
  .feature-text .h4-tabs {
    padding-bottom: 20px; }
  .feature-text h4 {
    font-size: 1.5em;
    font-family: "Open Sans", sans-serif; }
  .feature-text p {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    color: slategray; }
  .feature-text .text-title-double {
    display: flex; }
    .feature-text .text-title-double .title-img {
      margin-right: 30px; }
    .feature-text .text-title-double p:first-child {
      margin-top: 0;
      margin-bottom: -10px;
      color: #000; }

.feature-download {
  width: 120px;
  height: 40px;
  margin-top: 30px;
  border: 0;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px #c7c7c7;
  background: #a53d49;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 1.18em;
  transition: 0.3s background linear; }
  .feature-download:hover {
    background: #903640; }

.feature-image {
  flex: 1; }
  .feature-image .figure-end {
    display: flex;
    justify-content: flex-end;
    margin: 0; }
  .feature-image .figure-start {
    margin: 0; }

.feature-image-1 {
  padding-right: 150px; }

@media (min-width: 1281px) and (max-width: 1600px) {
  .feature-columns {
    padding: 0 25px; }
    .feature-columns:first-child {
      padding: 0; }
    .feature-columns .feature-tab {
      padding-left: 25px; }
    .feature-columns .feature-image-1 {
      padding-right: 25px; }

  .video-tab1 {
    height: 494px; } }
@media (min-width: 1101px) and (max-width: 1280px) {
  .feature-columns {
    padding: 0 25px; }
    .feature-columns:first-child {
      position: relative; }
    .feature-columns .feature-tab {
      padding-left: 25px; }
    .feature-columns .feature-image-1 {
      padding-right: 25px; }

  .video-tab1 {
    height: 474px; } }
@media (min-width: 1081px) and (max-width: 1100px) {
  .feature-columns {
    padding: 0 25px; }
    .feature-columns:first-child {
      padding: 0; }
    .feature-columns .feature-tab {
      padding-left: 25px; }
    .feature-columns .feature-image-1 {
      padding-right: 25px; }

  .modal {
    margin-left: 0; }

  .video-tab1 {
    height: 494px; }

  p {
    font-size: 1.05em; } }
@media (min-width: 961px) and (max-width: 1080px) {
  .feature-columns {
    flex-direction: column-reverse;
    padding: 0 50px;
    align-items: flex-start; }
    .feature-columns:first-child {
      padding: 0 50px; }
    .feature-columns .feature-tab {
      padding-left: 0; }
    .feature-columns .feature-image-1 {
      padding-right: 0; }

  .modal {
    left: 0; }

  .video-tab1 {
    height: 474px; }

  h4 {
    margin: 0; }

  p {
    font-size: 1.05em; }

  .text-title-box {
    position: relative;
    width: 45%;
    bottom: -89px; }
    .text-title-box .text-title-double .title-img {
      margin-right: 20px; }
    .text-title-box .text-title-double p:first-child {
      font-size: 1.2em; }
    .text-title-box .text-title-double P:last-child {
      font-size: 1.03em; }

  .feature-text-right {
    position: relative;
    width: 100%;
    margin-top: 50px;
    top: 140px; }

  .feature-text-left {
    padding-top: 25px;
    order: 2; }

  .feature-columns .feature-columns-1 {
    align-items: stretch;
    padding-top: 37px;
    box-sizing: border-box; }

  .feature-tab {
    flex-direction: row;
    order: 1;
    width: 300px;
    position: relative;
    top: 80px; }
    .feature-tab a {
      width: 100%;
      border-left: 1px solid #f5f5f5; }
    .feature-tab .tab {
      height: 80px;
      line-height: 80px; }

  .feature-image-1 {
    align-self: flex-end;
    padding-bottom: 37px; }

  .feature-columns-2 .feature-image-2 {
    margin-left: 50%;
    margin-bottom: 39px; }

  .feature-columns-3 {
    padding-top: 37px;
    padding-bottom: 37px;
    box-sizing: border-box; } }
@media (min-width: 721px) and (max-width: 960px) {
  .feature-columns {
    flex-direction: column-reverse;
    padding: 0 25px; }
    .feature-columns:first-child {
      padding: 0 25px;
      height: 654px; }

  .modal {
    margin-left: 0; }

  .showed-for-tab1 {
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%); }

  .video-tab1 {
    height: auto;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 100%; }

  h4 {
    margin: 0; }

  p {
    font-size: 1.05em; }

  .text-title-box {
    display: flex;
    margin-top: 35px; }
    .text-title-box .text-title-double {
      width: 100%; }
      .text-title-box .text-title-double .title-img {
        margin-right: 20px; }
      .text-title-box .text-title-double p:first-child {
        font-size: 1.1em; }
      .text-title-box .text-title-double P:last-child {
        font-size: 0.98em; }

  .feature-text-right {
    margin-top: 25px; }

  .feature-text-left {
    order: 2;
    margin-top: 25px; }

  .feature-image {
    width: 50%; }
    .feature-image img {
      width: 100%;
      height: 100%; }

  .feature-image {
    padding-right: 0; }

  .feature-columns-1 .feature-tab {
    position: relative;
    flex-direction: row;
    width: 300px;
    height: 80px;
    padding-left: 0;
    top: -140px; } }
  @media screen and (min-width: 721px) and (max-width: 960px) and (max-width: 860px) {
    .feature-columns-1 .feature-tab {
      top: -70px; } }
@media (min-width: 721px) and (max-width: 960px) {
    .feature-columns-1 .feature-tab a {
      width: 100%;
      border-left: 1px solid #f5f5f5;
      border-top: none; }
    .feature-columns-1 .feature-tab .tab {
      height: 80px;
      line-height: 80px; }
  .feature-columns-1 .feature-image {
    display: inline-flex;
    align-self: flex-end;
    width: 40%; }
  .feature-columns-1 .feature-tab {
    align-self: flex-start; }

  .feature-columns-2 .feature-image-2 {
    display: flex;
    align-items: center;
    padding-bottom: 3%; }

  .feature-columns-3 .feature-image-3 {
    display: flex;
    align-items: center;
    padding-bottom: 8%; } }
@media (min-width: 830px) and (max-width: 959px) {
  .feature-columns-2 .feature-image-2 {
    display: flex;
    align-items: center;
    padding-bottom: 3%; }

  .feature-columns-3 .feature-image-3 {
    display: flex;
    align-items: center;
    padding-bottom: 6%; } }
@media (max-width: 720px) {
  .feature-columns {
    flex-direction: column-reverse;
    padding: 0 25px; }
    .feature-columns:first-child {
      padding: 0 25px; }

  h4 {
    margin: 0; }

  p {
    font-size: 1.05em; }

  .showed-for-tab1 {
    width: 100%;
    left: 0;
    transform: translateY(-50%); }

  .video-tab1 {
    width: 100%;
    height: auto; }

  .text-title-box {
    display: flex;
    margin-top: 35px; }
    .text-title-box .text-title-double {
      width: 100%; }
      .text-title-box .text-title-double .title-img {
        margin-right: 20px; }
      .text-title-box .text-title-double p:first-child {
        font-size: 1.1em; }
      .text-title-box .text-title-double P:last-child {
        font-size: 0.98em; }

  .feature-text-right {
    margin-top: 25px; }

  .feature-text-left {
    order: 2;
    margin-top: 25px; }

  .feature-image {
    width: 50%; }
    .feature-image img {
      width: 100%;
      height: 100%; }

  .feature-columns-1 .feature-image {
    display: none; }
  .feature-columns-1 .feature-tab {
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 80px;
    margin-right: 0;
    padding-left: 0;
    top: -70px; }
    .feature-columns-1 .feature-tab a {
      width: 100%;
      border-left: 1px solid #f5f5f5;
      border-top: none; }
    .feature-columns-1 .feature-tab .tab {
      height: 80px;
      line-height: 80px; }
  .feature-columns-1 .feature-tab {
    align-self: flex-start; }

  .feature-columns-2 .feature-image-2 {
    display: flex;
    align-items: center; }

  .feature-columns-3 {
    height: 530px; }
    .feature-columns-3 .feature-image-3 {
      display: flex;
      align-items: center; } }
@media (max-width: 640px) {
  .feature-columns-1 .feature-tab {
    align-self: center;
    margin-top: 120px; }

  .feature-columns-2 .feature-image-2 {
    display: flex;
    align-items: center; }

  .feature-columns-3 .feature-image-3 {
    display: flex;
    align-items: center; } }
@media (max-width: 490px) {
  .p-first {
    margin-top: 0; }

  .p-second {
    display: none; }

  .text-title-box {
    flex-direction: column; }
    .text-title-box .text-title-double:last-child {
      display: none; }

  .feature-columns-1 {
    padding-top: 20px; }

  .feature-columns-1, .feature-columns-2, .feature-columns-3 {
    height: 494px; }

  .pricing-top {
    padding: 0 25px; } }
.feature-why-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  height: 594px;
  padding: 0 150px; }

.why-top-flex {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .why-top-flex h3 {
    margin-top: 0;
    font-family: "Raleway", sans-serif;
    font-size: 1.8em;
    font-weight: 500;
    text-transform: uppercase; }
  .why-top-flex p {
    padding-top: 10px;
    color: slategray;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 1.3em;
    text-align: center; }
  .why-top-flex .feature-divider {
    display: inline-block;
    width: 64px;
    height: 2px;
    background: #a53d49; }

.why-bottom {
  margin-top: 50px; }

.why-bottom-flex {
  display: flex; }

.why-column {
  margin: 0 20px;
  text-align: center; }

.why-column-flex {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .why-column-flex p:first-of-type {
    margin-bottom: 0;
    font-size: 1.2em;
    font-family: "Open Sans", sans-serif;
    font-weight: 600; }
  .why-column-flex p:last-of-type {
    font-size: 0.9em;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: slategray; }
  .why-column-flex .column-img {
    transition: 0.4s transform linear; }
    .why-column-flex .column-img:hover {
      transform: rotate(360deg); }

@media (min-width: 721px) and (max-width: 1600px) {
  .feature-why-flex {
    padding: 0 30px; } }
@media (max-width: 720px) {
  .feature-why-flex {
    padding: 0 30px; } }
@media (max-width: 610px) {
  .feature-why-flex {
    height: 464px; }

  .why-top-flex h3 {
    text-align: center; }

  .why-column-flex p:first-of-type {
    font-size: 0.9em; }
  .why-column-flex p:last-of-type {
    display: none; } }
.feature-pricing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  height: 884px;
  padding: 0 145px;
  background: #f5f5f5; }

.pricing-top-flex {
  display: flex;
  align-items: center;
  flex-direction: column; }
  .pricing-top-flex h3 {
    margin-top: 0;
    font-family: "Raleway", sans-serif;
    font-size: 1.8em;
    font-weight: 500;
    text-transform: uppercase; }
  .pricing-top-flex p {
    padding-top: 10px;
    color: slategray;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 1.3em; }
  .pricing-top-flex .feature-divider {
    display: inline-block;
    width: 64px;
    height: 2px;
    background: #a53d49; }

.pricing-bottom {
  margin-top: 50px; }

.pricing-bottom-flex {
  display: flex; }

.pricing-column {
  width: 344px;
  height: 547px; }
  .pricing-column .pricing-column-flex {
    display: flex;
    flex-direction: column; }
    .pricing-column .pricing-column-flex .pricing-level, .pricing-column .pricing-column-flex .pricing-price, .pricing-column .pricing-column-flex .pricing-recomend, .pricing-column .pricing-column-flex .pricing-option {
      align-self: stretch;
      text-align: center; }
    .pricing-column .pricing-column-flex .pricing-level {
      background: #333;
      border-bottom: 1px solid #fff;
      font-family: "Open Sans", sans-serif;
      font-size: 1.2em;
      font-weight: 600;
      color: #fff; }
      .pricing-column .pricing-column-flex .pricing-level p {
        color: cadetblue; }
    .pricing-column .pricing-column-flex .pricing-price {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px 0;
      background: #333;
      color: #fff; }
      .pricing-column .pricing-column-flex .pricing-price p:first-of-type {
        margin: 0;
        font-size: 6rem;
        font-family: "Raleway", sans-serif;
        font-weight: 900;
        color: #fff; }
      .pricing-column .pricing-column-flex .pricing-price p:last-of-type {
        font-size: 0.9rem;
        font-style: italic;
        font-family: "Open Sans", sans-serif;
        color: grey; }
      .pricing-column .pricing-column-flex .pricing-price .dollar {
        margin: 0;
        font-size: 2rem;
        font-family: "Raleway", sans-serif;
        font-weight: normal; }
    .pricing-column .pricing-column-flex .pricing-recomend {
      height: 0;
      line-height: 42px;
      background: #a53d49;
      color: #fff;
      text-transform: uppercase;
      font-family: "Open Sans", sans-serif;
      font-weight: 500; }
    .pricing-column .pricing-column-flex .anim-recomend {
      height: 42px;
      transition: all 0.3s; }
    .pricing-column .pricing-column-flex .pricing-option {
      height: 42px;
      line-height: 42px;
      border-bottom: 1px solid #fff;
      background: grey;
      text-transform: uppercase;
      color: #2e3b3b;
      font-family: "Open Sans", sans-serif;
      font-weight: 600; }
      .pricing-column .pricing-column-flex .pricing-option:hover {
        animation: shake 0.1s; }

.pricing-column-center {
  margin: 0 40px; }

@media (min-width: 1101px) and (max-width: 1210px) {
  .pricing-column {
    width: 300px; } }
@media (min-width: 1001px) and (max-width: 1100px) {
  .pricing-column {
    width: 284px; } }
@media (min-width: 720px) and (max-width: 1000px) {
  .feature-pricing {
    flex-wrap: nowrap;
    align-items: stretch;
    padding: 0;
    height: 1045px; }

  .pricing-top-flex h3 {
    margin-bottom: 10px; }
  .pricing-top-flex p {
    margin-bottom: 0;
    padding-top: 0; }

  .pricing-bottom {
    margin-top: 40px; }

  .pricing-bottom-flex {
    flex-direction: column; }

  .pricing-column {
    width: 80%;
    height: 267px;
    margin: 0 auto; }
    .pricing-column .pricing-column-flex .pricing-level p {
      margin: 5px; }
    .pricing-column .pricing-column-flex .pricing-price {
      flex-direction: row;
      padding: 0; }
      .pricing-column .pricing-column-flex .pricing-price p:first-of-type {
        font-size: 4rem;
        line-height: 4rem; }
      .pricing-column .pricing-column-flex .pricing-price p:last-of-type {
        padding-left: 10px; }
    .pricing-column .pricing-column-flex .pricing-recomend {
      height: 0;
      line-height: 27px;
      font-size: 0.88rem;
      font-weight: 400; }
    .pricing-column .pricing-column-flex .anim-recomend {
      height: 27px;
      transition: all 0.3s; }
    .pricing-column .pricing-column-flex .pricing-option {
      height: 32px;
      line-height: 32px; }
      .pricing-column .pricing-column-flex .pricing-option:nth-of-type(2n+1) {
        display: none; }

  .pricing-column-center {
    margin: 20px auto; } }
@media (min-width: 721px) and (max-width: 768px) {
  .pricing-column {
    width: 90%; } }
@media (max-width: 720px) {
  .feature-pricing {
    flex-wrap: nowrap;
    align-items: stretch;
    padding: 0;
    height: 1045px; }

  .pricing-top-flex h3 {
    margin-bottom: 10px; }
  .pricing-top-flex p {
    margin-bottom: 0;
    padding-top: 0;
    text-align: center; }

  .pricing-bottom {
    margin-top: 40px; }

  .pricing-bottom-flex {
    flex-direction: column; }

  .pricing-column {
    width: 100%;
    margin: 0 auto;
    height: 267px; }
    .pricing-column .pricing-column-flex .pricing-level p {
      margin: 5px; }
    .pricing-column .pricing-column-flex .pricing-price {
      flex-direction: row;
      padding: 0; }
      .pricing-column .pricing-column-flex .pricing-price p:first-of-type {
        font-size: 4rem;
        line-height: 4rem; }
      .pricing-column .pricing-column-flex .pricing-price p:last-of-type {
        padding-left: 10px; }
    .pricing-column .pricing-column-flex .pricing-recomend {
      height: 0;
      line-height: 27px;
      font-size: 0.88rem;
      font-weight: 400; }
    .pricing-column .pricing-column-flex .anim-recomend {
      height: 27px; }
    .pricing-column .pricing-column-flex .pricing-option {
      height: 32px;
      line-height: 32px; }
      .pricing-column .pricing-column-flex .pricing-option:nth-of-type(2n+1) {
        display: none; }

  .pricing-column-center {
    margin: 20px auto; } }
.feature-customers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 590px;
  padding: 0 150px; }

.customers-top-flex {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .customers-top-flex h3 {
    margin-top: 0;
    font-family: "Raleway", sans-serif;
    font-size: 1.8em;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center; }
  .customers-top-flex p {
    padding-top: 10px;
    color: darkslategray;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 1.3em;
    text-align: center; }
  .customers-top-flex .feature-divider {
    display: inline-block;
    width: 64px;
    height: 2px;
    background: #a53d49; }

.customers-bottom-flex {
  margin-top: 50px; }

.customers-column {
  display: flex;
  justify-content: space-between; }

.customers-column-flex {
  display: flex;
  flex-direction: column; }
  .customers-column-flex .customers-testimonial {
    position: relative;
    width: 273px;
    height: auto;
    padding: 25px 12px;
    margin-bottom: 25px;
    background: #f5f5f5;
    border: 1px dashed #a53d49;
    color: #86878b;
    font-family: "Open Sans", sans-serif;
    font-style: italic; }
    .customers-column-flex .customers-testimonial:before {
      content: "";
      position: absolute;
      margin-top: 121px;
      margin-left: 7px;
      border-top: 16px solid #a53d49;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent; }
  .customers-column-flex .customers-info:after {
    content: "";
    display: block;
    clear: both; }
  .customers-column-flex .customers-info .author-pic {
    float: left;
    margin-right: 18px; }
  .customers-column-flex .customers-info p:first-of-type {
    margin: 7px 0 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1.2em; }
  .customers-column-flex .customers-info p:last-of-type {
    margin-top: 5px;
    color: #86878b;
    font-family: "Open Sans", sans-serif; }

@media (min-width: 1036px) and (max-width: 1600px) {
  .feature-customers {
    padding: 0 50px; } }
@media (min-width: 721px) and (max-width: 1035px) {
  .feature-customers {
    padding: 0 50px; }

  .customers-column-flex:last-child {
    display: none; }
  .customers-column-flex .customers-testimonial {
    width: 353px;
    padding: 10px 12px; }
    .customers-column-flex .customers-testimonial:before {
      margin-top: 105px; } }
@media (min-width: 721px) and (max-width: 900px) {
  .feature-customers {
    padding: 0 50px; }

  .customers-column-flex:last-child {
    display: none; }
  .customers-column-flex .customers-testimonial {
    width: 270px; } }
@media (max-width: 720px) {
  .feature-customers {
    padding: 0 30px;
    height: 700px; }

  .customers-bottom-flex {
    margin-top: 20px; }

  .customers-column {
    flex-direction: column; }

  .customers-column-flex {
    flex-direction: row-reverse;
    justify-content: space-around; }
    .customers-column-flex .customers-testimonial {
      height: auto; }
    .customers-column-flex:last-child {
      display: none; }
    .customers-column-flex .customers-testimonial {
      width: 270px; }
      .customers-column-flex .customers-testimonial:before {
        margin-top: -3px;
        margin-left: -38px;
        border-right: 16px solid #a53d49;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent; } }
@media (max-width: 440px) {
  .feature-customers {
    height: 750px; }

  .custom-p {
    display: none; } }
.feature-stylish-flex {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-image: url(../images/stylish-bg.jpg); }
  .feature-stylish-flex:after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
    z-index: 2; }
  .feature-stylish-flex h3 {
    margin-top: 0;
    font-family: "Raleway", sans-serif;
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    color: #fff;
    z-index: 3; }
  .feature-stylish-flex p {
    padding: 10px 15px 0;
    color: #d6d6d6;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    text-align: center;
    z-index: 3; }
  .feature-stylish-flex .feature-divider {
    display: inline-block;
    width: 64px;
    height: 2px;
    background: #fff;
    z-index: 3; }
  .feature-stylish-flex .download {
    position: relative;
    width: 225px;
    height: 44px;
    margin-top: 45px;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    z-index: 3; }
    .feature-stylish-flex .download:hover {
      border: 2px solid #a53d49;
      color: #a53d49;
      transition: all 0.2s ease-in; }

@media (max-width: 440px) {
  .feature-stylish-flex {
    height: 370px; } }
.feature-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 620px; }

.form-top-flex {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .form-top-flex h3 {
    font-family: "Raleway", sans-serif;
    font-size: 1.8em;
    font-weight: 500;
    text-transform: uppercase; }
  .form-top-flex p {
    padding: 10px 15px 0;
    color: darkslategray;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    text-align: center; }
  .form-top-flex .feature-divider {
    display: inline-block;
    width: 64px;
    height: 2px;
    background: #a53d49; }

.form-contact-wrapper {
  display: flex;
  flex-direction: column; }

.main-contact-form {
  width: 1125px;
  height: 240px; }

.contact-form-area {
  padding: 0;
  border: 0; }
  .contact-form-area .fieldset-div {
    display: flex;
    justify-content: space-between;
    height: 220px; }
    .contact-form-area .fieldset-div .contact-inputs-left, .contact-form-area .fieldset-div .contact-inputs-right {
      width: 45%; }
    .contact-form-area .fieldset-div input[type=text], .contact-form-area .fieldset-div input[type=email] {
      width: 100%;
      padding: 25px 15px;
      border: 0;
      border-bottom: 1px solid #d6d6d6;
      font-family: "Open Sans", sans-serif; }
      .contact-form-area .fieldset-div input[type=text]:focus, .contact-form-area .fieldset-div input[type=email]:focus {
        color: cadetblue; }
    .contact-form-area .fieldset-div textarea {
      width: 100%;
      height: 168px;
      padding: 23px 15px 15px 30px;
      border: 0;
      border-bottom: 1px solid #d6d6d6;
      font-family: "Open Sans", sans-serif;
      color: #777; }
      .contact-form-area .fieldset-div textarea:focus {
        color: cadetblue; }

.bottom-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end; }
  @media (min-width: 1281px) {
    .bottom-button-wrapper {
      margin-top: 30px; } }
  .bottom-button-wrapper .send-button {
    width: 146px;
    height: 44px;
    border: 0;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #c7c7c7;
    background: #a53d49;
    color: #fff;
    font-size: 1.18em;
    font-family: "Open Sans", sans-serif;
    transition: 0.3s background linear; }
    .bottom-button-wrapper .send-button:hover {
      background: #903640; }

@media (min-width: 661px) and (max-width: 1280px) {
  .feature-form {
    flex-direction: row;
    height: 600px; }

  .form-top-flex h3 {
    margin-top: 0; }

  .main-contact-form {
    width: 670px;
    height: 410px;
    margin-top: 36px; }

  .contact-form-area .fieldset-div {
    flex-direction: column; }
    .contact-form-area .fieldset-div .contact-inputs-left, .contact-form-area .fieldset-div .contact-inputs-right {
      align-self: center;
      width: 440px; }
    .contact-form-area .fieldset-div textarea {
      padding-left: 15px;
      height: 108px; }

  .bottom-button-wrapper {
    margin-left: 30px;
    height: 233px; } }
@media (min-width: 721px) and (max-width: 960px) {
  .feature-form {
    flex-direction: column;
    height: 800px; }

  .form-top-flex {
    height: 180px; }
    .form-top-flex h3 {
      margin-top: 0; }

  .form-contact-wrapper {
    width: 100%; }

  .main-contact-form {
    width: 100%;
    height: 410px; }

  .contact-form-area .fieldset-div {
    flex-direction: column; }
    .contact-form-area .fieldset-div .contact-inputs-left, .contact-form-area .fieldset-div .contact-inputs-right {
      align-self: center;
      width: 100%; }
    .contact-form-area .fieldset-div input[type=text], .contact-form-area .fieldset-div input[type=email] {
      width: 95%;
      padding-left: 35px;
      padding-right: 15px; }
    .contact-form-area .fieldset-div textarea {
      width: 95%;
      padding-left: 35px;
      padding-right: 15px; }

  .bottom-button-wrapper .send-button {
    width: 90%; } }
@media (max-width: 720px) {
  .feature-form {
    flex-direction: column;
    height: 800px;
    padding-top: 0; }

  .form-top-flex {
    height: 180px; }
    .form-top-flex h3 {
      margin-top: 0; }

  .form-contact-wrapper {
    width: 100%; }

  .main-contact-form {
    width: 100%;
    height: 410px; }

  .contact-form-area .fieldset-div {
    flex-direction: column; }
    .contact-form-area .fieldset-div .contact-inputs-left, .contact-form-area .fieldset-div .contact-inputs-right {
      align-self: center;
      width: 100%; }
    .contact-form-area .fieldset-div input[type=text], .contact-form-area .fieldset-div input[type=email] {
      width: 92.3%;
      padding-left: 35px;
      padding-right: 15px; }
    .contact-form-area .fieldset-div textarea {
      width: 95%;
      padding-left: 35px;
      padding-right: 15px; }

  .bottom-button-wrapper {
    align-items: flex-end;
    height: 272px;
    margin-left: 0; } }
  @media (max-width: 720px) and (min-width: 661px) and (max-width: 720px) {
    .bottom-button-wrapper {
      height: 233px; } }
@media (max-width: 720px) {
    .bottom-button-wrapper .send-button {
      width: 90%; } }
footer {
  position: relative;
  height: 93px;
  width: 100%;
  background: #222; }
  footer .footer-icons {
    display: flex;
    justify-content: center; }
    footer .footer-icons ul {
      -webkit-padding-start: 0; }
      footer .footer-icons ul li {
        display: inline-block;
        padding: 0 30px; }
  footer p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    color: #d6d6d6; }

footer .footer-icons ul li {
  padding: 0 10px; }

/*# sourceMappingURL=main.css.map */
